language: python

python:
    - "2.7"

env:
  global:
    - PORT=5000
    - HOST=0.0.0.0
    - DEBUG=TRUE
    - SECRET_KEY=abc123

    - PG_HOST=127.0.0.1
    - PG_PORT=5432
    - PG_USER=adi
    - PG_PASSWORD=adi
    - PG_DB=travis_test
    - PG_LIMIT=250
    - PG_DEFAULT=20

    - REDIS_HOST=0.0.0.0
    - REDIS_PORT=6379
    - REDIS_DB=1

    - GOOGLE_CLIENT_ID=client_id_here
    - GOOGLE_CLIENT_SECRET=client_secret_here
    - REDIRECT_URI=authorized

install: "pip install -r config/requirements.txt"

services:
    - postgresql
    - redis-server

before_script:
    - psql -c "CREATE USER adi WITH PASSWORD 'adi';" -U postgres
    - psql -c 'CREATE DATABASE travis_test WITH OWNER "adi";' -U postgres
    - psql travis_test -c 'GRANT CONNECT ON DATABASE travis_test TO adi;' -U postgres
    - psql travis_test < dev/dev_dump.sql -U postgres

script:
    - cd data && nosetests -sv tests/
