# data.adicu.com
export PORT=3000
export DEBUG=true

# Postgres connection
export PG_HOST=localhost
export PG_PORT=5432
export PG_USER=adicu
export PG_PASSWORD=development
export PG_DB=data
export PG_LIMIT=250
export PG_DEFAULT=20

# ElasticSearch connection
export ES_INDEX=data
export ES_HOST=localhost
export ES_PORT=9200
