# data.adicu.com
export PORT=3000
export DEBUG=true

# Postgres connection
export PG_HOST=localhost
export PG_PORT=5432
export PG_USER=adicu
export PG_PASSWORD=development
export PG_DB=data
export PG_LIMIT=250
export PG_DEFAULT=20

# Mongo connection
export MONGO_HOST=localhost
export MONGO_PORT=27017
export MONGO_DB=data
export MONGO_LIMIT=250
