{% extends "base.html" %}
{% block content %}
<!-- ========================
            Content
============================= -->

<div id="content" class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <section id="{{escape(current)}}">
                <h1>{{escape(current)}}</h1>

                <hr>
                {% if lead %}
                    <p class="lead">{{escape(lead)}}</p>
                {% end %}


                {% if endpoints %}
                    {% for endpoint in endpoints%}
                    <h2>Endpoint {{escape(endpoint)}}</h2>
                        <h3>GET Request</h3>
                        <div class="box-example">
                            <p class="text-info"><a href="{{escape(endpoints[endpoint]['request'])}}" target="_blank">{{escape(endpoints[endpoint]['request'])}}</a></p>
                        </div>
                        <h3>Response</h3>
                        <div class="box-example">
                            <pre class="text-success prettyprint
                            lang=js">{{escape(endpoints[endpoint]['response'])}}</pre>
                        </div>

                        {% if endpoints[endpoint]['queries'] %}
                            <h3>Query Parameters</h3>
                            {% for query in endpoints[endpoint]['queries'] %}
                                <h4>{{escape(query)}}</h4>
                                <p class="prettyprint"><span class="tag">{{escape(endpoints[endpoint]['queries'][query])}}</span></p>
                            {% end %}
                        {% end %}
                    {% end %}
                {% end %}
            </section>
        </div>
    </div>
</div>

{% end %}
