<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data ADICU</title>

    <link href="{{static_url("css/bootstrap.css")}}" rel="stylesheet">
    <link href="{{static_url("css/bootstrap-responsive.css")}}" rel="stylesheet">
    <link href="{{static_url("css/bootstrap-responsive-fluid.css")}}" rel="stylesheet">
    <script src="{{static_url("js/modernizr.js")}}"></script>

    <link href="{{static_url("css/prometheus.css")}}" rel="stylesheet">
    <link href="{{static_url("css/menu.css")}}" rel="stylesheet">
    <link href="{{static_url("css/preview.css")}}" rel="stylesheet">

</head>
<body>

<!-- ========================
            Header
============================= -->

<header>
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <a class="logo" href="#">ADI Data API Docs</a>
                <div class="nav-collapse collapse">
                    <ul class="profileBar visible-desktop">
                        <li class="profile">
                            {% if user %}
                            <li class="user"><img src="{{escape(user[photo])}}" alt=""></li>
                                <a class="dropdown-toggle"
                                    data-toggle="dropdown"
                                    href="#">{{escape(user[photo])}}<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <li><a tabindex="-1" href="#">Log Out</a></li>
                                    <li><a tabindex="-1" href="#">API Token</a></li>
                                </ul>
                            {% else %}
                                <a href="/login">Log In</a>
                            {% end %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- ========================
            Sidebar
============================= -->

<aside class="visible-desktop">
    <ul class="sideMenu">
        <li {% if current == "Documentation" %}
            class="active"
            {% end %}
            ><a href="Documentation">Documentation</a></li>
        <li {% if current == "Authentication" %}
            class="active"
            {% end %}
            ><a href="Authentication">Authentication</a></li>
        {% for page in pages %}
        <li {% if current == page%}
            class="active"
            {% end %}
            ><a href="{{escape(page)}}">{{escape(page)}}</a></li>
        {% end %}
        </ul>
</aside>


<!-- ========================
            Content
============================= -->

<div id="content" class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <section id="{{escape(current)}}">
                <h1>{{escape(current)}}</h1>

                <hr>
                {% if lead %}
                    <p class="lead">{{escape(lead)}}</p>
                {% end %}


                {% if endpoints %}
                    {% for endpoint in endpoints%}
                    <h2>Endpoint {{escape(endpoint)}}</h2>
                        <h3>GET Request</h3>
                        <div class="box-example">
                            <h4 class="text-info">{{escape(endpoints[endpoint]['request'])}}</h4>
                        </div>
                        <h3>Response</h3>
                        <div class="box-example">
                            <h4
                                class="text-success">{{escape(endpoints[endpoint]['response'])}}</h4>
                        </div>

                        {% if endpoints[endpoint]['queries'] %}
                            <h3>Query Parameters</h3>
                            {% for query in endpoints[endpoint]['queries'] %}
                                <h4>{{escape(query)}}</h4>
                                <p class="prettyprint"><span class="tag">{{escape(endpoints[endpoint]['queries'][query])}}</span></p>
                            {% end %}
                        {% end %}
                    {% end %}
                {% end %}
            </section>
        </div>
    </div>
</div>


<!-- ========================
          Javascripts
============================= -->

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="{{static_url("js/menu.js")}}"></script>
<script src="{{static_url("js/bootstrap.min.js")}}"></script>

</body>
</html>
